
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&family=Roboto:ital,wght@1,100&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf361f08f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cultural</title>
</head>
<body>
    <body>
        <div class="container">
          <h1 class="text-center top-heading">Cultural Council </h1>
          <form action="/cult" method="POST">

            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="secyrating" class="form-label">Cultural Secretary Rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star1" name="secyRating" value="1" />
                  <label for="star1" title="1 star"></label>
                  <input type="radio" id="star2" name="secyRating" value="2" />
                  <label for="star2" title="2 stars"></label>
                  <input type="radio" id="star3" name="secyRating" value="3" />
                  <label for="star3" title="3 stars"></label>
                  <input type="radio" id="star4" name="secyRating" value="4" />
                  <label for="star4" title="4 stars"></label>
                  <input type="radio" id="star5" name="secyRating" value="5" />
                  <label for="star5" title="5 stars"></label>
              </div>
              </div>
            </div>


            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="councilRating" class="form-label">Cultural Council Rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star6" name="councilRating" value="1" />
                  <label for="star6" title="1 star"></label>
                  <input type="radio" id="star7" name="councilRating" value="2" />
                  <label for="star7" title="2 stars"></label>
                  <input type="radio" id="star8" name="councilRating" value="3" />
                  <label for="star8" title="3 stars"></label>
                  <input type="radio" id="star9" name="councilRating" value="4" />
                  <label for="star9" title="4 stars"></label>
                  <input type="radio" id="star10" name="councilRating" value="5" />
                  <label for="star10" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="sargamRating" class="form-label">Sargam(music club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star11" name="sargamRating" value="1" />
                  <label for="star11" title="1 star"></label>
                  <input type="radio" id="star12" name="sargamRating" value="2" />
                  <label for="star12" title="2 stars"></label>
                  <input type="radio" id="star13" name="sargamRating" value="3" />
                  <label for="star13" title="3 stars"></label>
                  <input type="radio" id="star14" name="sargamRating" value="4" />
                  <label for="star14" title="4 stars"></label>
                  <input type="radio" id="star15" name="sargamRating" value="5" />
                  <label for="star15" title="5 stars"></label>
              </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="stepUpRating" class="form-label">Step_up(dance club) rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star16" name="stepUpRating" value="1" />
                  <label for="star16" title="1 star"></label>
                  <input type="radio" id="star17" name="stepUpRating" value="2" />
                  <label for="star17" title="2 stars"></label>
                  <input type="radio" id="star18" name="stepUpRating" value="3" />
                  <label for="star18" title="3 stars"></label>
                  <input type="radio" id="star19" name="stepUpRating" value="4" />
                  <label for="star19" title="4 stars"></label>
                  <input type="radio" id="star20" name="stepUpRating" value="5" />
                  <label for="star20" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="literaryRating" class="form-label"> The Literary Society(Literary Arts Club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star21" name="literaryRating" value="1" />
                  <label for="star21" title="1 star"></label>
                  <input type="radio" id="star22" name="literaryRating" value="2" />
                  <label for="star22" title="2 stars"></label>
                  <input type="radio" id="star23" name="literaryRating" value="3" />
                  <label for="star23" title="3 stars"></label>
                  <input type="radio" id="star24" name="literaryRating" value="4" />
                  <label for="star24" title="4 stars"></label>
                  <input type="radio" id="star25" name="literaryRating" value="5" />
                  <label for="star25" title="5 stars"></label>
              </div>
              </div>
            </div>
             
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="paletteRating" class="form-label">Palette(Arts Club) rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star26" name="paletteRating" value="1" />
                  <label for="star26" title="1 star"></label>
                  <input type="radio" id="star27" name="paletteRating" value="2" />
                  <label for="star27" title="2 stars"></label>
                  <input type="radio" id="star28" name="paletteRating" value="3" />
                  <label for="star28" title="3 stars"></label>
                  <input type="radio" id="star29" name="paletteRating" value="4" />
                  <label for="star29" title="4 stars"></label>
                  <input type="radio" id="star30" name="paletteRating" value="5" />
                  <label for="star30" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="photographyRating" class="form-label"> 16 PIXELS(Photography Club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star31" name="photographyRating" value="1" />
                  <label for="star31" title="1 star"></label>
                  <input type="radio" id="star32" name="photographyRating" value="2" />
                  <label for="star32" title="2 stars"></label>
                  <input type="radio" id="star33" name="photographyRating" value="3" />
                  <label for="star33" title="3 stars"></label>
                  <input type="radio" id="star34" name="photographyRating" value="4" />
                  <label for="star34" title="4 stars"></label>
                  <input type="radio" id="star35" name="photographyRating" value="5" />
                  <label for="star35" title="5 stars"></label>
              </div>
              </div>
            </div>
           
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="abinayaRating" class="form-label"> Abhinaya(Drama Club) rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star36" name="abinayaRating" value="1" />
                  <label for="star36" title="1 star"></label>
                  <input type="radio" id="star37" name="abinayaRating" value="2" />
                  <label for="star37" title="2 stars"></label>
                  <input type="radio" id="star38" name="abinayaRating" value="3" />
                  <label for="star38" title="3 stars"></label>
                  <input type="radio" id="star39" name="abinayaRating" value="4" />
                  <label for="star39" title="4 stars"></label>
                  <input type="radio" id="star40" name="abinayaRating" value="5" />
                  <label for="star40" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="vinteoRating" class="form-label"> Vinteo(Film Making Club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star41" name="vinteoRating" value="1" />
                  <label for="star41" title="1 star"></label>
                  <input type="radio" id="star42" name="vinteoRating" value="2" />
                  <label for="star42" title="2 stars"></label>
                  <input type="radio" id="star43" name="vinteoRating" value="3" />
                  <label for="star43" title="3 stars"></label>
                  <input type="radio" id="star44" name="vinteoRating" value="4" />
                  <label for="star44" title="4 stars"></label>
                  <input type="radio" id="star45" name="vinteoRating" value="5" />
                  <label for="star45" title="5 stars"></label>
              </div>
              </div>
            </div>
           
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="cinemathequeRating" class="form-label"> Cinematheque(Movie Screening Club) rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star46" name="cinemathequeRating" value="1" />
                  <label for="star46" title="1 star"></label>
                  <input type="radio" id="star47" name="cinemathequeRating" value="2" />
                  <label for="star47" title="2 stars"></label>
                  <input type="radio" id="star48" name="cinemathequeRating" value="3" />
                  <label for="star48" title="3 stars"></label>
                  <input type="radio" id="star49" name="cinemathequeRating" value="4" />
                  <label for="star49" title="4 stars"></label>
                  <input type="radio" id="star50" name="cinemathequeRating" value="5" />
                  <label for="star50" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="orendaRating" class="form-label">Orenda(Gender and Sexuality Club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star51" name="orendaRating" value="1" />
                  <label for="star51" title="1 star"></label>
                  <input type="radio" id="star52" name="orendaRating" value="2" />
                  <label for="star52" title="2 stars"></label>
                  <input type="radio" id="star53" name="orendaRating" value="3" />
                  <label for="star53" title="3 stars"></label>
                  <input type="radio" id="star54" name="orendaRating" value="4" />
                  <label for="star54" title="4 stars"></label>
                  <input type="radio" id="star55" name="orendaRating" value="5" />
                  <label for="star55" title="5 stars"></label>
              </div>
              </div>
            </div>
           
             
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="quizzingRating" class="form-label">Quizzing Society(Quizzing club) rating:</label>
                <div id="acad-councilRating" class="star-rating">
                  <input type="radio" id="star56" name="quizzingRating" value="1" />
                  <label for="star56" title="1 star"></label>
                  <input type="radio" id="star57" name="quizzingRating" value="2" />
                  <label for="star57" title="2 stars"></label>
                  <input type="radio" id="star58" name="quizzingRating" value="3" />
                  <label for="star58" title="3 stars"></label>
                  <input type="radio" id="star59" name="quizzingRating" value="4" />
                  <label for="star59" title="4 stars"></label>
                  <input type="radio" id="star60" name="quizzingRating" value="5" />
                  <label for="star60" title="5 stars"></label>
              </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <label for="awaamRating" class="form-label">Awaam(Political club) rating:</label>
                <div id="acad-secyrating" class="star-rating">
                  <input type="radio" id="star61" name="awaamRating" value="1" />
                  <label for="star61" title="1 star"></label>
                  <input type="radio" id="star62" name="awaamRating" value="2" />
                  <label for="star62" title="2 stars"></label>
                  <input type="radio" id="star63" name="awaamRating" value="3" />
                  <label for="star63" title="3 stars"></label>
                  <input type="radio" id="star64" name="awaamRating" value="4" />
                  <label for="star64" title="4 stars"></label>
                  <input type="radio" id="star65" name="awaamRating" value="5" />
                  <label for="star65" title="5 stars"></label>
              </div>
              </div>
            </div>
                
           
            <div class="mb-3">
              <label for="feedback" class="form-label">We value your feedback. Please share your thoughts on how the council can better serve the community</label>
              <textarea class="form-control" id="feedback" name="feedback" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <%- include('detectStar.ejs') %>

  </body>
</html>


