
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cf361f08f3.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Council review & Feedback System</title>
</head>
<body>
   
    <h1 class="text-center top-heading" >Council Review and Feedback System </h1>
     <img class = "iitgnLogo" src = "../images/iitgnlogo.png">   
    
    <div class="all_councils"> 
       <a href="tech" class="btn btn-info council tech" role="button"> <h3> Technical Council</h3></a>
       <a href="cult" class="btn btn-info council Cultural" role="button"> <h3> Cultural Council </h3></a>
       <a href="sports" class="btn btn-info council sports" role="button"> <h3> Sports Council</h3></a>
        <a href="welfare" class="btn btn-info council Welfare" role="button">  <h3> Welfare Council</h3></a>
        <a href="acad" class="btn btn-info council Academic" role="button"> <h3> Academic Council</h3> </a>
        <a href="pdc" class="btn btn-info council PDC " role="button"> <h3> PDC </h3></a>
        <a href="IRP" class="btn btn-info council IR&P" role="button"> <h3> IR&P </h3></a>
     
         
    </div>
    
     <style>
        .spacer {
          height: 100px; /* Adjust the height to control the space */
        }
      </style>
      <div class="spacer"></div>
      
   <!--  
    <div class="all_councils"> 
        <h2> Hey! You can check out the official website of Councils below:</h2>
        
        <a href="https://students.iitgn.ac.in/tech-council" class="btn btn-info council tech" role="button"> <h3> Technical Council official website</h3></a>
        <a href="https://sports.iitgn.ac.in/" class="btn btn-info council sports" role="button"> <h3> Sports Council website</h3></a>
         <a href="welfare" class="btn btn-info council Welfare" role="button">  <h3> Welfare Council</h3></a>
         <a href="https://students.iitgn.ac.in/student-acad-council/" class="btn btn-info council Academic" role="button"> <h3> Academic Council</h3> </a>
         <a href="cult" class="btn btn-info council Cultural" role="button"> <h3> Cultural Council </h3></a>
         <a href="pdc" class="btn btn-info council PDC " role="button"> <h3> PDC </h3></a>
         <a href="IRP" class="btn btn-info council IR&P" role="button"> <h3> IR&P </h3></a>
      
          
     </div>
 
-->

</body>
</html>




