
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&family=Roboto:ital,wght@1,100&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf361f08f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tech</title>
</head>


<body>
  <div class="container">
    <h1 class="text-center top-heading">Technical Council</h1>
    <form action="/tech" method="POST">
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="secyrating" class="form-label">Technical Secretary Rating:</label>
          <div id="acad-secyrating" class="star-rating">
            <input type="radio" id="star1" name="secyRating" value="1" />
            <label for="star1" title="1 star"></label>
            <input type="radio" id="star2" name="secyRating" value="2" />
            <label for="star2" title="2 stars"></label>
            <input type="radio" id="star3" name="secyRating" value="3" />
            <label for="star3" title="3 stars"></label>
            <input type="radio" id="star4" name="secyRating" value="4" />
            <label for="star4" title="4 stars"></label>
            <input type="radio" id="star5" name="secyRating" value="5" />
            <label for="star5" title="5 stars"></label>
        </div>
        </div>
      </div>
  
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="councilRating" class="form-label">Technical Council rating:</label>
          <div id="acad-councilRating" class="star-rating">
            <input type="radio" id="star6" name="councilRating" value="1" />
            <label for="star6" title="1 star"></label>
            <input type="radio" id="star7" name="councilRating" value="2" />
            <label for="star7" title="2 stars"></label>
            <input type="radio" id="star8" name="councilRating" value="3" />
            <label for="star8" title="3 stars"></label>
            <input type="radio" id="star9" name="councilRating" value="4" />
            <label for="star9" title="4 stars"></label>
            <input type="radio" id="star10" name="councilRating" value="5" />
            <label for="star10" title="5 stars"></label>
        </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="metis" class="form-label">Metis Coding Club rating:</label>
          <div id="acad-secyrating" class="star-rating">
            <input type="radio" id="star11" name="metisRating" value="1" />
            <label for="star11" title="1 star"></label>
            <input type="radio" id="star12" name="metisRating" value="2" />
            <label for="star12" title="2 stars"></label>
            <input type="radio" id="star13" name="metisRating" value="3" />
            <label for="star13" title="3 stars"></label>
            <input type="radio" id="star14" name="metisRating" value="4" />
            <label for="star14" title="4 stars"></label>
            <input type="radio" id="star15" name="metisRating" value="5" />
            <label for="star15" title="5 stars"></label>
        </div>
        </div>
      </div>
  
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="meanMechanics" class="form-label"> Mean Mechanics rating:</label>
          <div id="acad-councilRating" class="star-rating">
            <input type="radio" id="star16" name="meanMechRating" value="1" />
            <label for="star16" title="1 star"></label>
            <input type="radio" id="star17" name="meanMechRating" value="2" />
            <label for="star17" title="2 stars"></label>
            <input type="radio" id="star18" name="meanMechRating" value="3" />
            <label for="star18" title="3 stars"></label>
            <input type="radio" id="star19" name="meanMechRating" value="4" />
            <label for="star19" title="4 stars"></label>
            <input type="radio" id="star20" name="meanMechRating" value="5" />
            <label for="star20" title="5 stars"></label>
        </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="digis" class="form-label">DigiS rating:  </label>
          <div id="acad-secyrating" class="star-rating">
            <input type="radio" id="star21" name="digisRating" value="1" />
            <label for="star21" title="1 star"></label>
            <input type="radio" id="star22" name="digisRating" value="2" />
            <label for="star22" title="2 stars"></label>
            <input type="radio" id="star23" name="digisRating" value="3" />
            <label for="star23" title="3 stars"></label>
            <input type="radio" id="star24" name="digisRating" value="4" />
            <label for="star24" title="4 stars"></label>
            <input type="radio" id="star25" name="digisRating" value="5" />
            <label for="star25" title="5 stars"></label>
        </div>
        </div>
      </div>
  
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="odyssey" class="form-label"> Odyssey rating: </label>
          <div id="acad-councilRating" class="star-rating">
            <input type="radio" id="star26" name="odysseyRating" value="1" />
            <label for="star26" title="1 star"></label>
            <input type="radio" id="star27" name="odysseyRating" value="2" />
            <label for="star27" title="2 stars"></label>
            <input type="radio" id="star28" name="odysseyRating" value="3" />
            <label for="star28" title="3 stars"></label>
            <input type="radio" id="star29" name="odysseyRating" value="4" />
            <label for="star29" title="4 stars"></label>
            <input type="radio" id="star30" name="odysseyRating" value="5" />
            <label for="star30" title="5 stars"></label>
        </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="Anveshanam" class="form-label">Anveshanam rating:</label>
          <div id="acad-secyrating" class="star-rating">
            <input type="radio" id="star31" name="Anveshanam" value="1" />
            <label for="star31" title="1 star"></label>
            <input type="radio" id="star32" name="Anveshanam" value="2" />
            <label for="star32" title="2 stars"></label>
            <input type="radio" id="star33" name="Anveshanam" value="3" />
            <label for="star33" title="3 stars"></label>
            <input type="radio" id="star34" name="Anveshanam" value="4" />
            <label for="star34" title="4 stars"></label>
            <input type="radio" id="star35" name="Anveshanam" value="5" />
            <label for="star35" title="5 stars"></label>
        </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="grasp" class="form-label">GRASP rating:</label>
          <div id="acad-councilRating" class="star-rating">
            <input type="radio" id="star36" name="graspRating" value="1" />
            <label for="star36" title="1 star"></label>
            <input type="radio" id="star37" name="graspRating" value="2" />
            <label for="star37" title="2 stars"></label>
            <input type="radio" id="star38" name="graspRating" value="3" />
            <label for="star38" title="3 stars"></label>
            <input type="radio" id="star39" name="graspRating" value="4" />
            <label for="star39" title="4 stars"></label>
            <input type="radio" id="star40" name="graspRating" value="5" />
            <label for="star40" title="5 stars"></label>
        </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="d-flex align-items-center">
          <label for="mlGroup" class="form-label">ML hobby GROUP rating:</label>
          <div id="acad-secyrating" class="star-rating">
            <input type="radio" id="star41" name="mlGroup" value="1" />
            <label for="star41" title="1 star"></label>
            <input type="radio" id="star42" name="mlGroup" value="2" />
            <label for="star42" title="2 stars"></label>
            <input type="radio" id="star43" name="mlGroup" value="3" />
            <label for="star43" title="3 stars"></label>
            <input type="radio" id="star44" name="mlGroup" value="4" />
            <label for="star44" title="4 stars"></label>
            <input type="radio" id="star45" name="mlGroup" value="5" />
            <label for="star45" title="5 stars"></label>
        </div>
        </div>
      </div>
      
      
  
      <div class="mb-3">
        <label for="feedback" class="form-label">We value your feedback. Please share your thoughts on how the council can better serve the community</label>
        <textarea class="form-control" id="feedback" name="feedback" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <%- include('detectStar.ejs') %>


</body>
</html>

 <!-- MEAN MECHANICS, GRASP, ANVESHANAM, DIGIS, ML, METIS, ESPORTS, ODYSSEY, WEB3/BLOCKCHAIN HOBBY GROUP, ODYSSEY,
    <HARDWARE, IOT, VLSI GROUP -->