
.iitgnLogo{
    size: 5% ;
    width: 15% ;

}
.top-heading{
    padding-top: 2rem;
}
.far{
    padding-top: 70%;

}
.fas{
    padding-top: 70%;

}
.form-label{
    padding-right: 2% ;
    font-size: medium;
}
a{
    size: 40% ;
    width: 40% ;
    
}
.all_councils{
    text-align: center;
    padding-top: 2rem;
}
.council{
    margin-top: 1rem ;
    margin: 1%;
}
/*
body{
    background-color: #DAF5FF;
}
*/
.iitgnLogo{
    position: relative;
    left: 40% ;
}



.top-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  
  .section-heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  
  .council {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
  }
  .iitgnLogo{
    position: relative;
    left: 40% ;
}
  .council:hover {
    color: white;
    text-decoration: none;
  }
  
  .header {
    width: 100%;
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #40b1e9, #40b1e9, #40b1e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }
  
  
  .form-label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    }
    
    .form-control {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    }

  .fa-star {
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .fa-star:hover,
  .fa-star.active {
    color: black ; 
  }
  
  .btn-submit {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0069d9;
    color: white;
  }
  


  .star-rating label {
    cursor: pointer;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label::before {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2rem;
    color: #ddd;
}


/* .star-rating label:hover ~ label::before,*/
/*
.star-rating input[type="radio"]:checked ~ label::before {
    color: #ffc107;
}*/
.star-rating label.active:hover::before,
.star-rating label.active::before {
    color: #ffc107;
}
